/* components/LocationTable.module.css */
.locationTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .locationTable th,
  .locationTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .locationTable th {
    background-color: #f4f4f4;
  }
  
  .updateButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 7.8px;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .deleteButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 2px;
  }
  