.userTable {
  width: 100%;
  border-collapse: collapse;
}

.userTable th,
.userTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.userTable th {
  background-color: #f2f2f2;
  text-align: left;
}

.updateButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
}

.updateButton:hover {
  background-color: #0056b3;
}

.deleteButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
}

.deleteButton:hover {
  background-color: #0056b3;
}
