.vehicleTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.vehicleTable th,
.vehicleTable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.vehicleTable th {
  background-color: #f2f2f2;
}

.actionButton {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #add8e6; /* Light blue color */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.actionButton:hover {
  background-color: #00008b; /* Dark blue color on hover */
}